@using PManagerFrontend.Components.Utility
@using PManagerFrontend.Interfaces.Services
@using PManagerFrontend.Models
@using PManagerFrontend.Models.Components
@using SharedModels.InputModels

@inject IDataService _data

<ModalWindow Modal="@Modal" />
<div class="px-5">
    @if (IsEditMode)
    {
        <div class="flex flex-row gap-x-5">
            <div class="font-semibold font-[Outfit]">Name</div>
        </div>
        <div class="flex flex-row items-center mt-2 gap-x-1">
            <div class="relative">
                <input type="text" class="bg-gray-200 text-gray-700 rounded-sm pl-2 h-8 w-full" @bind-value:event="oninput" @bind-value="@Name" @onkeydown="OnKeyDown" />
                @if (IsSaved == true)
                {
                    if (Name.Length == 0)
                    {
                        <div class="absolute text-red-500 text-[10px] bottom-[-15px]">Must be at least 1 character long</div>
                    }
                    if (Name.Length > 200)
                    {
                        <div class="absolute text-red-500 text-[10px] bottom-[-15px]">Must be within 200 characters</div>
                    }
                }
            </div>

            <img src="icons/close.svg" class="w-5 h-5" @onclick="CloseEditMode" />
        </div>
    }
    else
    {
        <div class="flex flex-row gap-x-5">
            <div class="font-semibold font-[Outfit]">Name</div>
            <img src="icons/edit.svg" class="cursor-pointer" @onclick="OpenEditMode" />
        </div>
        <div class="font-[Outfit] font-light mt-2">@Folder.Record.Name</div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public RecordFolderModel Folder { get; set; }
    [Parameter, EditorRequired]
    public EventCallback RefreshData { get; set; }

    bool IsEditMode { get; set; } = false;
    bool IsSaved { get; set; } = false;
    string Name { get; set; }

    ModalWindowState Modal = new ModalWindowState();

    void OpenEditMode()
    {
        Name = Folder.Record.Name;
        IsEditMode = true;
    }

    void CloseEditMode()
    {
        IsEditMode = false;
    }

    async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            IsSaved = true;

            if (Name.Length == 0 || Name.Length > 200)
            {
                return;
            }

            await EditName();
            CloseEditMode();
        }
    }

    async Task EditName()
    {
        var result = await _data.EditRecordName(new EditInput()
        {
            Id = Folder.Record.Id,
            Value = Name
        });

        if (result)
        {
            await RefreshData.InvokeAsync();
        }
        else
        {
            ModalWindowState.OpenModal(Modal, "Error", "Failed to rename. Make sure name is unique.");
        }
    }
}
