@using PManagerFrontend.Components.Utility
@using PManagerFrontend.Interfaces.Services
@using PManagerFrontend.Models
@using PManagerFrontend.Models.Components
@using SharedModels.APIs.Data.Inputs
@using SharedModels.InputModels

@inject IDataService _data

<ModalWindow Modal="@Modal" />
<div class="px-10 py-5">
    @if (IsEditMode)
    {
        <div class="flex flex-row gap-x-5">
            <div class="font-semibold font-[Outfit]">Description</div>
        </div>
        <div class="flex flex-row items-center mt-2 gap-x-1">
            <div class="relative">
                <input type="text" class="bg-gray-200 text-gray-700 rounded-sm pl-2 h-8 w-full" @bind-value:event="oninput" @bind-value="@Description" @onkeydown="OnKeyDown" />
                @if (IsSaved == true)
                {
                    if (Description.Length == 0)
                    {
                        <div class="absolute text-red-500 text-[10px] bottom-[-15px]">Must be at least 1 character long</div>
                    }
                    if (Description.Length > 1000)
                    {
                        <div class="absolute text-red-500 text-[10px] bottom-[-15px]">Must be within 1000 characters</div>
                    }
                }
            </div>
            <img src="icons/close.svg" class="w-5 h-5" @onclick="CloseEditMode" />
        </div>
    }
    else
    {
        <div class="flex flex-row gap-x-5">
            <div class="font-semibold font-[Outfit]">Description</div>
            <img src="icons/edit.svg" class="cursor-pointer" @onclick="OpenEditMode" />
        </div>
        <div class="font-[Outfit] font-light mt-2">@Folder.Category.Description</div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public GroupFolderModel Folder { get; set; }
    [Parameter, EditorRequired]
    public EventCallback RefreshData { get; set; }

    bool IsEditMode { get; set; } = false;
    bool IsSaved { get; set; } = false;
    string Description { get; set; }

    ModalWindowState Modal = new ModalWindowState();

    void OpenEditMode()
    {
        Description = Folder.Category.Description;
        IsEditMode = true;
    }

    void CloseEditMode()
    {
        IsEditMode = false;
    }

    async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            IsSaved = true;

            if (Description.Length == 0 || Description.Length > 1000)
            {
                return;
            }

            await EditCategoryDescription();
            CloseEditMode();
        }
    }

    async Task EditCategoryDescription()
    {
        var result = await _data.EditCategoryDescription(new EditCategoryDescriptionInput()
        {
            Id = Folder.Category.Id,
            Value = Description
        });

        if (result)
        {
            await RefreshData.InvokeAsync();
        }
        else
        {
            ModalWindowState.OpenModal(Modal, "Error", "Failed to edit description.");
        }
    }
}
