@using SharedModels.DataService

<div class="px-5 py-5 bg-white shadow-md w-full">
    <div class="flex flex-row justify-between">
        <div class="text-xs text-gray-400">Created: @Note.DateCreated.ToString("dd-MM-yyyy")</div>
        <div class="flex flex-row items-center">
            @if(!IsInitDelete) {
                <img src="icons/trash.svg" class="w-3 h-3 cursor-pointer" @onclick="OnInitDelete" />
            }
            @if (IsInitDelete)
            {
                <div>
                    <button class="text-black text-xs px-1 bg-red-300" @onclick="OnClick">DELETE</button>
                    <button class="text-black text-xs px-1 bg-yellow-300" @onclick="OnCancelDelete">CANCEL</button>
                </div>
            }
        </div>
    </div>
    <div class="text-sm mt-1">@Note.Text</div>
</div>

@code {
    [Parameter, EditorRequired]
    public NoteData Note { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<NoteData> OnDeleteHandler { get; set; }

    bool IsInitDelete { get; set; } = false;

    void OnInitDelete()
    {
        IsInitDelete = true;
    }

    void OnCancelDelete()
    {
        IsInitDelete = false;
    }

    public async Task OnClick()
    {
        IsInitDelete = false;
        await OnDeleteHandler.InvokeAsync(Note);
    }
}
