@if (ItemsCount > 0)
{
    if (IsExpand)
    {
        <img src="icons/expand-open.svg" class="w-3 h-3 cursor-pointer" @onclick="OnExpandHandler" />
    }
    else
    {
        <img src="icons/expand-closed.svg" class="w-3 h-3 cursor-pointer" @onclick="OnCollapseHandler" />
    }
}
else
{
    <div class="w-3 h-3"></div>
}

@code {
    [Parameter, EditorRequired]
    public bool IsExpand { get; set; }
    [Parameter, EditorRequired]
    public int ItemsCount { get; set; }
    [Parameter, EditorRequired]
    public EventCallback OnExpand { get; set; }
    [Parameter, EditorRequired]
    public EventCallback OnCollapse { get; set; }

    async Task OnExpandHandler()
    {
        IsExpand = false;
        await OnCollapse.InvokeAsync();
    }

    async Task OnCollapseHandler()
    {
        IsExpand = true;
        await OnExpand.InvokeAsync();
    }
}
