<div class="flex flex-col border-1 bg-white">
    <div class="flex flex-row bg-gray-100 py-2 pl-3">        
        <div class="basis-3/10 font-semibold">Create New Record</div>
    </div>
    <div class="flex flex-row py-2 items-end gap-x-3 pl-3">      
        <div class="basis-2/10">
            <div>Name</div>
            <input type="text" class="border-1 border-gray-400 h-10 py-2 w-50 pl-2 text-gray-800 w-full" />
        </div>
        <div class="basis-2/10">
            <div>Url</div>
            <input type="text" class="border-1 border-gray-400 h-10 py-2 w-50 pl-2 text-gray-800 w-full" />
        </div>
        <div class="flex flex-col basis-2/10">
            <div>Lock Password</div>
            <input type="text" class="border-1 border-gray-400 h-10 py-2 w-50 pl-2 text-gray-800 w-full" />
        </div>
        <div class="flex flex-col basis-2/10">
            <div>Saved Password</div>
            <input type="text" class="border-1 border-gray-400 h-10 py-2 w-50 pl-2 text-gray-800 w-full" />
        </div>
        <div class="flex flex-col">
            <div class="flex flex-row items-end">
                <label class="flex flex-row items-center gap-x-3 text-sm">
                    <input type="checkbox" name="savepassword" />
                    Save password
                </label>
            </div>
            <div class="flex flex-row justify-start">
                <button class="bg-sky-400 text-white px-5 py-2 h-10 hover:bg-sky-600 text-sm font-light">ADD RECORD</button>
            </div>            
        </div>        
    </div>
</div>


@code {

}
