<div class="flex flex-row items-center">
    <div class="basis-1/10 pl-8">
        @Id
    </div>
    <div class="basis-2/10">
        @if (string.IsNullOrEmpty(Password))
        {
            <input type="text" disabled value="********" class="border-1 border-gray-400 h-10 py-2 w-50 pl-2 text-gray-800 bg-gray-200 w-full" />
        }
        else
        {
            <input type="text" value="@Password" class="border-1 border-gray-400 h-10 py-2 w-50 pl-2 text-gray-800 w-full" />
        }        
    </div>
</div>

@code {
    [Parameter] 
    public int Id { get; set; }
    [Parameter]
    public string Password { get; set; }
}
