<div class="flex flex-row gap-x-1 px-1 h-10 w-full">
    <div class="flex flex-row basis-1/10">
        <button class="grow-1 bg-red-300 text-white px-1 hover:bg-orange-600 text-xs font-light">REMOVE</button>
        <button class="grow-1 bg-sky-400 text-white px-1 hover:bg-sky-600 text-xs font-light" @onclick="OnShare">SHARE</button>
    </div>
    @if(IsShare)
    {
        <div class="basis-1/15">
            <button class="bg-sky-400 text-white px-1 py-2 h-10 hover:bg-sky-600 text-xs font-light">GENERATE</button>
        </div>
        <div class="flex flex-row basis-2/10">
            <div class="flex flex-row items-center basis-1/3">
                <div class="text-xs text-white text-right w-full">Fallback Value</div>
            </div>
            <div class="basis-2/3">
                <input type="text" class="h-10 py-2 pl-2 text-gray-900 bg-gray-200 w-full" />
            </div>            
        </div>
        
        
        <div class="flex flex-row basis-2/10">            
            <div class="flex flex-row items-center basis-1/3">
                <div class="text-xs text-white text-right w-full">URL</div>
            </div>
            <div class="basis-2/3">
                <input type="text" class="h-10 py-2 pl-2 text-gray-900 bg-gray-200 w-full" />
            </div>
        </div>
        
        <div class="flex flex-row basis-2/10">            
            <div class="flex flex-row items-center basis-1/3">
                <div class="text-xs text-white text-right w-full">Auth Token</div>
            </div>
            <div class="basis-2/3">
                <input type="text" class="h-10 py-2 pl-2 text-gray-900 bg-gray-200 w-full" />
            </div>
        </div>
        
        <div class="flex flex-row basis-2/10">
            <div class="flex flex-row items-center basis-1/3">
                <div class="text-xs text-white text-right w-full">Request Body</div>
            </div>
            <div class="basis-2/3">
                <input type="text" class="h-10 py-2 pl-2 text-gray-900 bg-gray-200 w-full" />
            </div>
        </div>                
    }
</div>

@code {
    bool IsShare { get; set; }

    void OnShare()
    {
        IsShare = !IsShare;
    }
}
