@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="h-15 bg-gray-200 border-t-gray-300 border-b-gray-300 border-t-1 border-b-1 px-4">
            
        </div>

        <article class="px-4">
            @Body
        </article>
    </main>
</div>
