<div class="flex flex-row items-center gap-x-5 px-5 py-2 hover:bg-neutral-600">
    <img src="icons/expand-closed.svg" class="w-4 h-4" />
    <img src="icons/group.svg" class="w-9 h-9" />
    <div class="text-white">Test</div>
</div>

@code {

}
