<div class="flex flex-row items-center gap-x-5 px-5 py-2 hover:bg-neutral-600">
    <img src="icons/expand-closed.svg" class="w-4 h-4" />
    <img src="icons/group.svg" class="w-9 h-9" />
    <div class="flex flex-col relative">        
        <input type="text" class="bg-gray-300 rounded-sm pl-2" />
        <div class="absolute text-red-300 text-[10px] bottom-[-13px]">Must be within 100 characters</div>
        <div class="absolute top-0 right-2 h-full flex flex-row justify-end items-center">
            <img src="icons/cancel.svg" class="w-4 h-4" />
        </div>
    </div>    
</div>    


@code {

}
