<div class="flex flex-row items-center py-1 gap-x-5 bg-neutral-700 hover:bg-neutral-500 pl-40">
    @if (IsUnlocked)
    {
        <img src="icons/unlocked.svg" class="w-4 h-4" />
        <div class="text-white text-center w-35 bg-white/10 rounded-sm">@Status</div>
    }
    else
    {
        <img src="icons/locked.svg" class="w-4 h-4" />
        <div class="text-white text-center w-35 bg-red-500/10 rounded-sm">@Status</div>
    }    
</div>

@code {
    [Parameter,EditorRequired]
    public bool IsUnlocked { get; set; }

    [Parameter, EditorRequired]
    public string Status { get; set; }
}
