@using PManagerFrontend.Models.Components
@using SharedModels.DataService
<div class="flex flex-row items-center py-1 gap-x-5 hover:bg-neutral-600 pl-24 font-[Outfit] text-xs text-white" @onclick="OpenPassword">
    @if (Folder.IsActive)
    {
        if (!string.IsNullOrEmpty(Folder.Value))
        {
            <div class="w-2 h-2 bg-green-500 rounded-md"></div>
            <img src="icons/unlocked.svg" class="w-3 h-3" />
            <div class="text-center rounded-sm cursor-pointer">
                Unlocked
            </div>
        }
        else
        {
            <div class="w-2 h-2 bg-green-500 rounded-md"></div>
            <img src="icons/locked.svg" class="w-3 h-3" />
            <div class="text-red-400 text-center rounded-sm cursor-pointer">
                Locked
            </div>
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(Folder.Value))
        {
            <div class="w-2 h-2 bg-red-400 rounded-md"></div>
            <img src="icons/unlocked.svg" class="w-3 h-3" />
            <div class="text-center rounded-sm cursor-pointer">
                Unlocked
            </div>
        }
        else
        {
            <div class="w-2 h-2 bg-red-400 rounded-md"></div>
            <img src="icons/locked.svg" class="w-3 h-3" />
            <div class="text-center bg-red-500/30 rounded-sm cursor-pointer">
                Locked
            </div>
        }
    }    
</div>

@code {
    [Parameter, EditorRequired]
    public DecryptedPassword Folder { get; set; }

    [Parameter, EditorRequired]
    public GroupFolderModel Group { get; set; }

    [Parameter, EditorRequired]
    public RecordFolderModel Record { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<(DecryptedPassword password, RecordFolderModel record, GroupFolderModel group)> OpenPasswordHandler { get; set; }

    async Task OpenPassword()
    {
        await OpenPasswordHandler.InvokeAsync((Folder, Record, Group));
    }
}
