<div class="flex flex-row bg-neutral-600 hover:bg-neutral-500 items-end pb-2">
    <img src="icons/expand-closed.svg" class="w-4 h-4 ml-15" />
    <div class="flex flex-col ml-6">
        <div class="flex flex-row items-center gap-x-5">
            <img src="icons/record.svg" class="w-10 h-10" />
            <div class="text-white">SQL Connection strings</div>
        </div>
        <div class="flex flex-row gap-x-5 items-center ml-15">
            <img src="icons/link.svg" class="w-4 h-4" />
            <div class="text-sky-500 text-sm">http://linkedin.com</div>
        </div>
        <div class="flex flex-row gap-x-5 items-center ml-15 mt-1">
            <img src="icons/username.svg" class="w-4 h-4" />
            <div class="text-white text-sm">mzezul</div>
        </div>
    </div>
</div>

@code {

}
