<div class="flex flex-row mt-8 pb-3 gap-x-2 border-b-2 border-b-zinc-300">
    <div class="cursor-pointer text-sky-200">Work</div>
    <div class="text-gray-400 font-bold">/</div>
    <div class="text-white">SQL Connection Strings</div>
</div>
@code {

}
