<div class="flex flex-row mt-8 pb-3 gap-x-2 border-b-2 border-b-zinc-300">
    <div class="text-white font-semibold">@GroupName</div>
</div>
@code {
    [Parameter, EditorRequired]
    public string GroupName { get; set; }
}
