@using PManagerFrontend.Models.Components
@using SharedModels.DataService

<div class="flex flex-col bg-[#001926] px-15 pt-10 pb-3 font-[Outfit]">
    <div class="text-4xl font-extralight text-white">Overview</div>
    <div class="border-b-[#637D94] border-b-2 my-3"></div>
    <div class="flex flex-row font-[Outfit] gap-x-15">
        @if (!GroupFolder && MainMenuSelection == 0)
        {
            <div class="h-6"></div>
        }
        @if (GroupFolder)
        {
            if (MainMenuSelection == 1)
            {
                <div class="text-white cursor-pointer">Folder</div>
            }
            else
            {
                <div class="text-[#8F8F8F] cursor-pointer" @onclick="OnSelectGroupFolder">Folder</div>
            }
        }
        @if (RecordFolder)
        {
            if (MainMenuSelection == 2)
            {
                <div class="text-white cursor-pointer">Record</div>
            }
            else
            {
                <div class="text-[#8F8F8F] cursor-pointer" @onclick="OnSelectRecordFolder">Record</div>
            }
        }
        @if (PasswordFolder)
        {
            if (MainMenuSelection == 3)
            {
                <div class="text-white cursor-pointer">Password</div>
            }
            else
            {
                <div class="text-[#8F8F8F] cursor-pointer" @onclick="OnSelectPasswordFolder">Password</div>
            }
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public bool GroupFolder { get; set; }
    [Parameter, EditorRequired]
    public bool RecordFolder { get; set; }
    [Parameter, EditorRequired]
    public bool PasswordFolder { get; set; }
    [Parameter, EditorRequired]
    public EventCallback<int> OnSelectMenu { get; set; }
    [Parameter, EditorRequired]
    public int MainMenuSelection { get; set; }

    async Task OnSelectGroupFolder()
    {
        await OnSelectMenu.InvokeAsync(1);
    }

    async Task OnSelectRecordFolder()
    {
        await OnSelectMenu.InvokeAsync(2);
    }

    async Task OnSelectPasswordFolder()
    {
        await OnSelectMenu.InvokeAsync(3);
    }
}
