<div class="flex flex-row mt-8 p-3 gap-x-2 border-b-2 border-b-zinc-300 bg-gray-600">
    <div class="text-white font-semibold">@RecordName</div>
</div>
@code {
    [Parameter, EditorRequired]
    public string RecordName { get; set; }
}
