<div class="flex flex-row mt-3 pl-3 gap-x-8">
    <div class="flex flex-row gap-x-3 items-center">
        <img src="icons/link.svg" class="w-4 h-4" />
        <div class="text-sky-300 text-sm">@Folder.Record.Url</div>
        <img src="icons/copy.svg" class="w-4 h-4 cursor-pointer" />
    </div>
    <div class="flex flex-row gap-x-3 items-center">
        <img src="icons/username.svg" class="w-4 h-4" />
        <div class="text-white text-sm">@Folder.Record.Url</div>
        <img src="icons/copy.svg" class="w-4 h-4 cursor-pointer" />
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Models.Components.RecordFolder Folder { get; set; }
}
