@page "/explorer"
@using PManagerFrontend.Components.Explorer

<div class="flex flex-row">
    <div class="basis-3/10 bg-neutral-700 h-[100vh] flex flex-col">
        <UserAvatar />
        <ToolPanel />
        <GroupFolder />
        <GroupFolder />
        <RecordFolder />
        <RecordFolder />
        <PasswordFolder IsUnlocked="true" Status="unlocked" />
        <PasswordFolder IsUnlocked="false" Status="locked" />
        <PasswordFolder IsUnlocked="true" Status="unlocked" />
        <PasswordFolder IsUnlocked="false" Status="diactivated" />
        <RecordFolder />
        <GroupFolder />
        <GroupFolder />
        <NewGroup />
    </div>
    <div class="basis-7/10 bg-neutral-500 h-[100vh]">

    </div>
</div>

@code {

}
